fineweb10B/
pylog124M/
__pycache__/
logs/
.DS_Store
data/text/fineweb
data/text/fineweb/
data/text/fineweb10B/
data/text/finewebedu10B/
data/audio/marin_mix_gpt2x/
data/vision/molmo2_sft/
results/
wheels/
audio/data/
.venv/
.venv_fa3/
uv.lock
